{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block body %}
<div class = "container text-center">
        <div class="container">
            <h1>About Me</h1>
            <p>This site has been setup to help me manage my buisness. If you need to contact me, my details are below.</p>
                <div class="row">
                    
                        <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/11257065_953389474684539_2466416440633757684_n.jpg?_nc_cat=103&_nc_ht=scontent-lht6-1.xx&oh=1f30453dda933719eba91a386c375bc5&oe=5D458AAD" width="10%" height="10%" class="img-rounded"
                        alt="" class="img-rounded img-responsive" />
                
                    
                        
                        <p> <i class="glyphicon glyphicon-envelope"></i> buisnessemail@fitness.com
                            <br
                            /> <i class="glyphicon glyphicon-phone">077777777777</i> 
                            <br /> <i class="glyphicon glyphicon-gift"></i> January 30, 1974</p>
                    
                </div>
            </div>
</div>
{% endblock %}
