<link rel="shortcut icon" href="/myfavicon.ico" type="image/x-icon">
<link rel="icon" href="/myfavicon.ico" type="image/x-icon">

{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block body %}
<div class="container text-center">
  <h2>Upcoming Classes</h2>
</div>
{% set title = ['Monday','Tuesday','Wednesday','Thursday','Friday'] %}
{% for item in title %}
<div class="container">           
  <table class="table table-hover">
    <thead>
      <tr>
        <th>{{item}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Class Name</td>
        <td>Class Time</td>
        <td>Class Location</td>
      </tr>
      <tr>
        <td>Zumba</td>
        <td>14:00</td>
        <td>Shefford</td>
      </tr>
      <tr>
        <td>Yoga</td>
        <td>16:00</td>
        <td>Stopsley</td>
      </tr>
    </tbody>
  </table>
</div>
{% endfor %}

{% endblock %}
