<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/myfavicon.ico" type="image/x-icon">
  <link rel="icon" href="/myfavicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="mystyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Little Emz Fitness</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/location">Locations</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    {% if loggedin == 1 %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/account"><span class="glyphicon glyphicon-user text-primary"></span> My Account</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out text-danger"></span> Log Out</a></li>
    </ul>
    {% else %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/signup"><span class="glyphicon glyphicon-user text-primary"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in text-success"></span> Login</a></li>
    </ul>
    {% endif %}
  </div>
</nav>


    {% block body %}
    {% endblock %}

</body>
</html>
