{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="container" style="margin-top:30px">
    <div class="col-lg-6 col-lg-offset-3 text-center">
        <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title"><strong>Sign In </strong></h3></div>
    <div class="panel-body">
    <form method="POST" action="/login" role="form">
      {{ form.csrf }}
    <div class="form-group">
        <label for="email">Enter Your Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email Address ">
     </div>
    <div class="form-group">
     <label for="exampleInputPassword1">Password <a href="/forgot_password">(Forgot Password?)</a></label>
     <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password ">
    </div>
     <button type="submit" class="btn btn-sm btn-success">Sign in</button>
    </form>
     </div>
    </div>

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

{% for message in messages %}
    {% if "Not Found" in message[1]: %}
        <div class="alert alert-warning">
        {{ message[1] }}
        </div>
    {% endif %}
{% endfor %}
    {% endif %}
{% endwith %}
</div>
</div>
{% endblock %}
